<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/register.style.css" />
  </head>
  <body>
    <div class="main">
      <div class="content">
        <h3>Meta</h3>
        <h2>Log into Instagram</h2>
        <br />

        <form action="/api/auth/login" method="post">

          <h2>Gmail</h2>
          <input type="text" name="email" /><br /><br />

          <h2>Password</h2>
          <input type="text" name="password" /><br /><br />

          <input id="btn" type="submit" value="Submit" />
        </form> <br>

      </div>
    </div>
  </body>
</html>
